{HEADER}
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="calborder">
	<tr>
	<td>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
		<td class="navback">{THIS_YEAR}</td>
		<td align="right" width="120" class="navback">
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
			<td><a class="psf" href="day.php?getdate={GETDATE}"><img src="images/day_on.gif" alt="{L_DAY}" border="0" /></a></td>
			<td><a class="psf" href="week.php?getdate={GETDATE}"><img src="images/week_on.gif" alt="{L_WEEK}" border="0" /></a></td>
			<td><a class="psf" href="month.php?getdate={GETDATE}"><img src="images/month_on.gif" alt="{L_MONTH}" border="0" /></a></td>
			<td><a class="psf" href="year.php?getdate={GETDATE}"><img src="images/year_on.gif" alt="{L_YEAR}" border="0" /></a></td>
			<td><a class="psf" href="year.php?getdate={PREV_YEAR}"><img src="images/left_day.gif" alt="[Previous Year]" border="0" /></a></td>
			<td><a class="psf" href="year.php?getdate={NEXT_YEAR}"><img src="images/right_day.gif" alt="[Next Year]" border="0" /></a></td>
			</tr>
			</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	<br />
	
	<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>
	<td valign="top" align="center">{MONTH_MEDIUM|01}</td>
	<td valign="top" align="center">{MONTH_MEDIUM|02}</td>
	<td valign="top" align="center">{MONTH_MEDIUM|03}</td>
	</tr>
	
	<tr>
	<td colspan="3">
	<img src="images/spacer.gif" width="1" height="20" alt=" " />
	</td>
	</tr>
	
	<tr>
	<td valign="top" align="center">{MONTH_MEDIUM|04}</td>
	<td valign="top" align="center">{MONTH_MEDIUM|05}</td>
	<td valign="top" align="center">{MONTH_MEDIUM|06}</td>
	</tr>
	
	<tr>
	<td colspan="3">
	<img src="images/spacer.gif" width="1" height="20" alt=" " />
	</td>
	</tr>
	
	<tr>
	<td valign="top" align="center">{MONTH_MEDIUM|07}</td>
	<td valign="top" align="center">{MONTH_MEDIUM|08}</td>
	<td valign="top" align="center">{MONTH_MEDIUM|09}</td>
	</tr>
	
	<tr>
	<td colspan="3">
	<img src="images/spacer.gif" width="1" height="20" alt=" " />
	</td>
	</tr>
	
	<tr>
	<td valign="top" align="center">{MONTH_MEDIUM|10}</td>
	<td valign="top" align="center">{MONTH_MEDIUM|11}</td>
	<td valign="top" align="center">{MONTH_MEDIUM|12}</td>
	</tr>
	</table>
{FOOTER}
